* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(244, 244, 244);
}

header {
  background-color: blueviolet;
  height: 60px;
}

header > h2 {
  color: #fff;
  padding-top: 1%;
  margin: auto;
  margin-top: 0;
  width: 80%;
  font-weight: 500;
}

form {
  width: 80%;
  color: rgb (54, 55, 56);
}
